/*-Reset-*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "DM Sans", sans-serif;
}

body {
  margin: 3rem 1.5rem;
  background-color: $background-primary;
}
