header {
  display: flex;
  flex-wrap: wrap;

  // a {
  //   flex-grow: 1;
  // }

  img {
    width: 9rem;
  }
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0;
  justify-content: center;

  li {
    @include border-tag;
    border-radius: 1rem;
    padding: 0.2rem 0.4rem;
    margin-right: 0.3rem;
    margin-bottom: 0.2rem;
    font-size: 0.9rem;

    // &:nth-child(1) {
    //   order: 0;
    // }

    // &:nth-child(2) {
    //   order: 8;
    // }

    // &:nth-child(3) {
    //   order: 5;
    // }

    // &:nth-child(4) {
    //   order: 7;
    // }

    // &:nth-child(5) {
    //   order: 6;
    // }

    // &:nth-child(6) {
    //   order: 4;
    // }

    // &:nth-child(7) {
    //   order: 2;
    // }

    // &:nth-child(8) {
    //   order: 3;
    // }

    &:hover {
      background: $colour-primary;

      a {
        color: white;
      }
    }

    a {
      color: $colour-primary;
    }
  }
}

@include xxl {
  header {
      align-items: center;

    img {
      width: auto;
      position: absolute;
      top: 4.4rem;
      left: 10rem;
    }

    nav {
      width: 40rem;
      margin: auto;
    }
  }

}
